
.nav {
    padding: 0 100px;
    display: inline-block;
}

ol, ul {
    list-style: none;
}


.content {
    padding: 0 100px;
    margin: 0 50px;
}

.controls {
    background-color: green;
    color: darkblue;
}
